<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ts-backend/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ts-backend/index.php [L]
</IfModule>
